#anchorPane {
    -fx-background-color: #59FDB6;
}

#root {
    -fx-background-color: #000;
}

#welcomeText {
    -fx-font-size: 18;
    -fx-text-fill: #FC4C05;
}

Label {
    -fx-text-fill: #194431;
    -fx-font-weight: 600;
}

#titleText {
    -fx-font-size: 28;
    -fx-text-fill: #2C7D5A;
}

#buttonMain {
    -fx-background-color: #2C7D5A;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.backContainer {
    -fx-background-color: #2C7D5A;
    -fx-fill: #2C7D5A;
}

Button {
    -fx-background-color: #2C7D5A;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#backContainer {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.gamesLabel {
    -fx-font-size: 16px;
    -fx-text-fill: cadetblue;
}

.gamesLabel:hover {
    -fx-background-color: gray;
    -fx-cursor: hand;
}

#nameText {
    -fx-text-fill: #102c21;
}

#connectionStatus {
    -fx-text-fill: #102c21;
}

#historicLabel {
    -fx-text-fill: #194431;
    -fx-underline: true;
}