#anchorPane {
    -fx-background-color: #0DFC93;
}

#root {
    -fxbackground-color: #000;
}

Label {
    -fx-text-fill: #194431;
    -fx-font-weight: 600;
}

.colorBalls {
    -fx-cursor: hand;
    -fx-opacity: 70%;
}

.colorBalls:hover {
    -fx-opacity: 100%;
}

.colorBallsBlocked {
    -fx-cursor: none;
    -fx-opacity: 20%;
}

.colorBallsBlocked:hover {
    -fx-opacity: 20%;
}


.playerBalls {
    -fx-cursor: hand;
    -fx-opacity: 70%;
    -fx-fill: dimgray;
}

.playerBalls:hover {
    -fx-opacity: 100%;
}

.playerBallsSelected {
    -fx-fill: greenyellow;
    -fx-opacity: 100%;
}

.playerBallsSelected:hover {
    -fx-opacity: 20%;
}


.gameBalls {
    -fx-cursor: hand;
    -fx-opacity: 100%;
}

.gameBalls:hover {
    -fx-opacity: 70%;
}

.gameBallsSelected {
    -fx-opacity: 50%;
    -fx-stroke: darkslategray;
    -fx-stroke-width: 5px;
    -fx-cursor: hand;
}

.gameBallsSelected:hover {
    -fx-opacity: 70%;
}

.gameBallsDisabled {
    -fx-cursor: null;
    -fx-opacity: 50%;
}

.gameBallsDisabled:hover {
    -fx-cursor: null;
    -fx-opacity: 50%;
}

.emptyBoardBall {
    -fx-cursor: hand;
    -fx-fill: darkgrey;
}

.namePlayerLabel {
    -fx-font-size: 10px;
    -fx-text-fill: gray;
}

.messagePlayerLabel {
    -fx-font-size: 14px;
    -fx-text-fill: green;
}

.anotherGameBalls {
    -fx-cursor: DISAPPEAR;
    -fx-opacity: 50%;
}

.messageAnotherLabel {
    -fx-font-size: 14px;
    -fx-text-fill: red;
}

Button {
    -fx-background-color: #2C7D5A;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

ScrollPane {
    -fx-background: transparent;
    -fx-background-color: #dcfff0;
    -fx-background-radius: 2px;
    -fx-border-color: #2C7D5A;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}